<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tcp.starry_night">
    <uses-permission android:name="android.permission.INTERNET"/>
        <application
        android:allowBackup="true"
        android:icon="@drawable/startree"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.example.tcp.starrynight.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name="com.example.tcp.starrynight.MainActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.tcp.starrynight.WriteActivity" android:screenOrientation="portrait"></activity>

    </application>

</manifest>